.main {
  position: relative;
  left: 25em;
  background-color: grey;
  width: 40%;
  height: 50%;
  color: whitesmoke;
}

.form {
  background-color:#212F3C;
  padding: 3em;
}
#statusBox
{
background-color: yellow;
color: #212F3C;
height: 2em;
width: 100%;
}
#form-item{
    padding: 3em;
}
#btn-submit
{
padding: 15px;
background-color: green;
color: honeydew;
}